@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to my Portfolio Site</h1>

<MudPaper>
	<MudText Typo="Typo.body1">
		This portfolio site is built using Blazor WebAssembly and MudBlazor components. It showcases my projects, skills, and experiences in software development. 
		As I complete projects they will be added, either as an addtional page on this site - or as a blog style page. 
		I hope you enjoy looking around and following my progress.
		Dave
	</MudText>
</MudPaper>
