@page "/layout"

<PageTitle>WSSR Loadout</PageTitle>

<h3>Loadout</h3>

<MudText Color="Color.Error" Typo="Typo.h3">WSSR USE ONLY</MudText>

<MudContainer >
	<MudPaper Class="pa-4 d-flex">
		<MudImage ObjectPosition="ObjectPosition.Left" Src="images/TyTop.png" />

		<MudImage ObjectPosition="ObjectPosition.Right" Src="images/TyTop.png" />
	</MudPaper>
</MudContainer>


@* <MudItem>
	<MudDataGrid Items="@loadout" Filterable="true" SortMode="@SortMode.None" Groupable="false">
		<Columns>
			<PropertyColumn Property="x => x.name" />
			<PropertyColumn Property="x => x.position" />
		</Columns>
	</MudDataGrid>
</MudItem> *@

@* <MudItem>
	<MudPaper>
		<MudImage Width="500" ObjectPosition="ObjectPosition.Right" Src="images/TyTop.png" />
	</MudPaper>
</MudItem> *@